@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";


@theme {
  --breakpoint-320: 20rem;
  --breakpoint-375: 23.438rem;
  --breakpoint-390: 24.375rem;
  --breakpoint-425: 26.563rem;
  --breakpoint-712: 44.5rem;
  --breakpoint-1164: 72.75rem;
  --breakpoint-1260: 78.75rem;
  --breakpoint-1440: 90rem;
}

@layer utilities {
  @keyframes scroll-bounce {

    0%,
    100% {
      transform: translateY(0);
      opacity: 1;
    }

    50% {
      transform: translateY(6px);
      opacity: 0.3;
    }
  }

  .animate-scroll-bounce {
    animation: scroll-bounce 1.2s infinite ease-in-out;
  }
}


* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: #030A1B;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #EBFAFF;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.wave-letter {
  display: inline-block;
  animation: wave 1s ease-in-out infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.05s;
}

.delay-2 {
  animation-delay: 0.1s;
}

.delay-3 {
  animation-delay: 0.15s;
}

.delay-4 {
  animation-delay: 0.2s;
}

.delay-5 {
  animation-delay: 0.25s;
}

.delay-6 {
  animation-delay: 0.3s;
}

.delay-7 {
  animation-delay: 0.35s;
}

.delay-8 {
  animation-delay: 0.4s;
}

.delay-9 {
  animation-delay: 0.45s;
}

.delay-10 {
  animation-delay: 0.5s;
}

.delay-11 {
  animation-delay: 0.55s;
}

.delay-12 {
  animation-delay: 0.6s;
}