@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


@theme {
  --breakpoint-320: 20rem;
  --breakpoint-375: 23.438rem;
  --breakpoint-390: 24.375rem;
  --breakpoint-425: 26.563rem;
  --breakpoint-712: 44.5rem;
  --breakpoint-1164: 72.75rem;
  --breakpoint-1260: 78.75rem;
  --breakpoint-1440: 90rem;
  --breakpoint-1920: 120rem;
}




* {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #171A21;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #EBFAFF;
}

/* Swiper Dots */
.swiper-pagination-bullet {
  @apply bg-[#fff];

}

.swiper-pagination-bullet-active {
  @apply bg-[#4743E0];

}

.swiper-pagination {
  bottom: -2.5px !important;
}

@media (min-width: 712px) {

  .swiper-pagination {
    bottom: -4px !important;
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
}